.background_body{
    background-image: url("bg.jpg");
    background-position: center;
    background-size: cover;
}
.body_background{
    background-image: url("mustache_bg.jpg");
    background-position: center;
    background-size: cover;
}
.bd_background{
    background-image: url("lipstick_bg.jpg");
    background-position: center;
    background-size: cover;
}
h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px red;}
}